page-home {

  ion-header{
    background-color: rgb(3, 235, 138);
    color: blanchedalmond;
  }
    .granted{
      background-color: green;
      color: blanchedalmond;
  }
  .denied{
      background-color: red;
      color: blanchedalmond;

  }


}
.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}


footer{

  width: 100%
}
.p{
  color: white;text-emphasis: none;text-align: center
}
p{
  text-align: center
}
