
<ion-header>
  <h1>Bienvenue sur Nopale</h1>
  <p>Passez votre Carte pour payer  <ion-icon name="logo-rss"></ion-icon>
  </p>
</ion-header>
<ion-content>



  <ion-card *ngIf="scanned && granted " class="granted" style="margin-top:150px;height: 100px;font: 65px">
    <ion-card-header>

    </ion-card-header>
    <ion-card-content>
      payemement valide!!  <ion-icon name="checkmark-circle"></ion-icon>
      <p class="p">Bon appettit   <ion-icon name="restaurant"></ion-icon></p>

    </ion-card-content>
    </ion-card>
    <ion-card *ngIf="scanned && !granted " class="denied">
      <ion-card-header>
          <ion-icon name="warning"></ion-icon>
          payemement non non valide
      </ion-card-header>
      <ion-card-content>
     veuillez recharger votre compte svp
      </ion-card-content>
  </ion-card>
  <!--<ion-card *ngIf="scanned && !carteValid" class="denied">
    <ion-card-header>
   cette carte n est pas valide
    </ion-card-header>
    <ion-card-content>
      <p>  <ion-icon name="warning"></ion-icon>
        Vous avez pas le droit d effectuer cette action!!.</p>
    </ion-card-content>
  </ion-card>-->

<ion-footer>

    <div class="footer-copyright text-center py-3 col-md-12 " style="color: white;margin-top: 5px;background-color: black;" >©Copyright 2018 Tous droits résérvés NOPALE
      </div>

</ion-footer>
